# CPSC 368 Impact By Disease (KNM Neighbours)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [23]:
USCDI = pd.read_csv('final_datasets_V1/cleaned/U.S._Chronic_Disease_Indicators_newcols.csv')
KFF2019_new = pd.read_csv("final_datasets_V1/cleaned/KFF2019_new.csv")

In [28]:
USCDI.describe()

           YearStart        YearEnd     DataValue          Range  AvgDataValue
count  309215.000000  309215.000000  3.092150e+05  309215.000000  3.092150e+05
mean     2020.012195    2020.288540  4.697595e+02       1.276345  3.904027e+02
std         1.530835       1.068591  1.333158e+04       0.938218  1.228443e+04
min      2015.000000    2019.000000  0.000000e+00       1.000000  0.000000e+00
25%      2019.000000    2019.000000  0.000000e+00       1.000000  0.000000e+00
50%      2020.000000    2020.000000  1.290000e+01       1.000000  1.140000e+01
75%      2021.000000    2021.000000  3.810000e+01       1.000000  3.560000e+01
max      2022.000000    2022.000000  2.925456e+06       5.000000  2.925456e+06

In [25]:
USCDI['YearStart'] = pd.to_numeric(USCDI['YearStart'], errors='coerce')
CHD = USCDI[
    (USCDI['LocationDesc'].isin(['Texas', 'Massachusetts'])) &
    (USCDI['Topic'].isin(['Cardiovascular Disease', 'Cancer'])) &
    (USCDI['DataValueUnit'] == "per 100,000")&
    (USCDI['DataValueType'] == "Crude Rate") &
    (USCDI['YearStart'] == 2019)
]

In [26]:
CHD

Empty DataFrame
Columns: [YearStart, YearEnd, LocationDesc, Topic, Question, DataValueUnit, DataValueType, DataValue, StratificationCategory1, Stratification1, Has2019, Range, AvgDataValue]
Index: []

In [4]:
CHD = CHD[['LocationDesc', 'Topic', 'DataValue']]
CHD

Empty DataFrame
Columns: [LocationDesc, Topic, DataValue]
Index: []